.homepage-banner {
  height: 400px;
}

.main-button {
  background-color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 120px;
  margin: 0 auto;
  font-size: 21px;
  height: 36px;
  color: black;
  border-radius: 20px;
  line-height: 36px;
}

.main-button:hover {

}

.homepage h1 {
  color: white;
  text-align: center;
  padding-top: 160px;
}
