<div class='homepage'>

  <body>
  <!--Navbar start-->
    <nav class="header" role='navigation'>
      <div id="brand"><a href="/">Underlying Light</a></div>
      <ul class="nav">
        <li><a href="about">About Elise</a></li>
        <li><a href="services">Services</a></li>
        <li>
          <a href="contact">Contact</a>
      </ul>
    </nav>

  </body>

  <div class="homepage-banner">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1459664018906-085c36f472af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'); background-size: cover; ">
      <h1>Underlying Light</h1>
      <a href='services' class="main-button">Services</a>
    </div>
  </div>

  <div class="homepage-content">

      <img src="https://images.pexels.com/photos/1437953/pexels-photo-1437953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Massage therapist and client">

      <div class="content-text">
        <h2>
          Welcome!
        </h2>

        <p>
          I provide multiple massage modalities including orthopedic-type massage, deep tissue, and Basic Swedish Massage.
        </p>
      </div>

  </div>


  </div>

</div>



